<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Demo VUE</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
  .form-control {
    margin-bottom: 10px;
  }
  .btn-danger {
    margin-top: 8px;
  }
  </style>
</head>
<body>
  <div class="container" id="events">
	<div class="row"></div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Event</h3>
        </div>
        <div class="panel-body">
          <div>
            <input class="form-control" placeholder="Title" v-model="event.title">
            <textarea class="form-control" placeholder="Details" v-model="event.detail"></textarea>
            <input type="date" class="form-control" placeholder="Date" v-model="event.date">
            <button class="btn btn-primary" v-on:click="addEvent">Save</button>
			<button class="btn btn-primary" v-on:click="cancelEvent">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="list-group">
		<span class="list-group-item" v-for="event in events">
			<a href="#" v-on:click="EventToForm(event,$index)" class="list-group-item">
			<h4 class="list-group-item-heading"><i class="glyphicon glyphicon-bullhorn"></i> {{ event.title }}</h4>
			<h5><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date }}</h5>
			<p class="list-group-item-text" v-if="event.detail">{{ event.detail }}</p>
			</a>
			<button class="btn btn-xs btn-danger" v-on:click="deleteEvent($index)">Delete</button>
        </span>
      </div>
    </div>
  </div>

</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="app.js"></script>
</html>